@import 'Font.css';
body {
    margin: 0;
}
#top {
    background-color: #081a52;
    color: #fff;
    .h-link {
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
       
    }
    span {
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .sym-uz {
       a {
           padding: 5px;
           img {
                height: 24px;
           }
       }
       a:first-child {
           img {
               height: 15px;
           }
       }

    }

    .dropdown-toggle {
        cursor: pointer;
        background: none;
        border: none;
        color: #fff;
    }
}
.header {
    position: relative;
    left: 0;
    width: 100%;
    
    background: url(../img/qmii.jpg) no-repeat center -150px / cover;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        
    }
    ul {
        position: absolute;
        z-index: 100;
        li {
            display: inline-block;
            
            &:hover {
                background-color: #222;
                ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                width: 200px;
                background-color: #222;
                display: none;
                padding: 0;
                li {
                    display: block;
                    color: #fff;
                    padding: 0 15px;
                    border-left: 3px solid #222;

                    &:hover {
                        background-color: #000;
                        border-left-color: #fff;
                    }
                }
            }
        }
    }
    a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        padding: 5px;
       
    }
    img {
        width: 58px;
        height: 58px;
        margin-right: 15px;
        display: block;
        float: left;
    }
   p {
       color: #fff;
       font-weight: bold;
      }
      .carousel-inner {
          img {
              width: 70%;
              height: 350px;
              }
          .slide-caption {
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            color: #fff;
            padding: 20px;
            background-color: #314573;
        }
          
          
      }
      .carousel-control-next {
          right: 0;
          top: initial;
          bottom: 30px;
      }
      .carousel-control-prev {
          top: initial;
          left: initial;
          right: 50px;
          bottom: 30px;
      }
     .iact-serv {
         background-color: rgba(52,62,85,0.5 );
         color: #fff;
         padding: 0 20px;
         a {
             color: #fff;
             text-decoration: none;
         }
         .vertual-reception {
             background: url(../img/envelope.svg) no-repeat 0 20px/50px;
             border-bottom: 2px solid #fff;
             padding: 20px 0 20px 60px;
             position: relative;
             a {
                 text-decoration: underline;
                 font-size: 1em;
                 i {
                    font-size: 2em;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    display: none;
                    align-items: center;
                    justify-content: center;
                 }
                 &:hover {
                     text-decoration: none;
                     i {
                         display: flex;
                     }
                 }
             }
         }
         .electron-address {
             border-bottom: 2px solid #fff;
             position: relative;
             text-align: center;
             padding: 5px 0;
             a {
                 font-size: 1.3em;
                 i {
                    font-size: 2em;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    display: none;
                    align-items: center;
                    justify-content: center;
                 }
                 &:hover {
                     text-decoration: none;
                     i {
                         display: flex;
                     }
                 }
             }
         }
         .online-contract {
            text-align: center;
            a {
                font-size: 1.8em;
                font-weight: 500;
            }
         }
     }
}
.middle {
    position: sticky;
    background-color: #ddd;
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            a {
                color: #333;
                display: block;
                padding: 10px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.under-middle {
    .title-1 {
        margin-top: 30px;
        h4 {
            width: 110px;
            font-weight: bold;
            border-bottom: 1px solid #000;
            display: inline-block;
            padding-bottom: 10px;
            position: relative;
        }
        h4::after {
            content: "";
            width: 70%;
            position: absolute;
            left: 0;
            top: 37px;
            border-bottom: 3px solid #000;
        }
    }
    .fakultet {
        .title-2 {
            width: 262.5px;
            background-color: #343e55;
            color: #fff;
            padding: 5px 15px;
            font-size: 20px;
            
        }
        ul {
            width: 262.5px;
            background-color: #d2d2d2;
            padding: 10px 0;
           
            li {
                list-style: none;
                padding: 5px 0;
                &:hover {
                    background-color: #999;
                    border-left: 3px solid #343e55;
                    font-weight: bold                                                                                                                                                                                                                                                                                                                                                                                                             z;
                }
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 14px;
                    padding: 6px 6px 6px 20px;
                    
                    
                }
            }
        }
    }
}
.message {
    background-color: dodgerblue;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 8px 20px 8px 30px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    cursor: pointer;

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        left: 12px;
        bottom: 15px;
        border: 1px solid #fff;
    
    
    }
}
.ichi {
    width: 380px;
    height: 610px;
    border: 1px solid #000;
    position: fixed;
    border-radius: 10px;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    padding: 15px 15px 15px 25px;
    font-size: 16px;
    display: none;
    z-index: 1000;
    overflow: hidden;

    .send_message {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 1px solid #ccc;
        padding: 15px;

        .text_field {
            width: 100%;
            border: none;
            outline: none;
        }
    }
    
        
    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 23px;
        left: 10px;
        
        background: #1f89f8;
    }
    .sss {
        font-size: 1.2em;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }
    
   .rasm {
       display: flex;
       justify-content: center;
       align-items: center;
       img {
           width: 100px;
           height: 100px;
           margin-top: 30%;
       }
      
   }
   p {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}
.p2 { 
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}
  .sending {
      a {
          text-decoration: none;
          display: flex;
          justify-content: center;
          color: #000;
          font-size: 13px;
          position: absolute;
          bottom: 60px;
          left: 125px;
         
          
        
          &:hover{
              color: dodgerblue;
          }
          i {
              font-size: 18px;
             
             
          }
  
        
      }
 
  }
}

.struc-menu {
    padding: 60px 0;
    background-color: rgb(239, 239, 239);
    .title-4 {
        color: #282828;
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 30px;
        margin-left: 30px;
    }
    .title-5 {
        color: #282828;
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 30px;
        margin-left: 30px;
    }
    ul {
        li {
            list-style: none;
            padding: 5px 0;
            
            a {
               text-decoration: none;
               color: #000;
               font-size: 16px;
               
              
               
               &:hover {
                   text-decoration: underline;
               }
            }
        }
    }
}

footer {
    background-color: #252932;
    padding: 50px 0;
    .logo {
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            vertical-align: middle;
            margin: 0 50px;
            
        }
    }
    span {
        width: 40%;
        height: 1px;
        background-color: #fff;
        display: inline-block;

    }
    .copyright {
        color: #fff;
        text-align: center;
    }
}


    


