@import 'Font.css';
body {
  margin: 0;
}

#top {
  background-color: #081a52;
  color: #fff;
}
#top .h-link a {
  color: #fff;
  text-decoration: none;
}
#top .h-link a:hover {
  text-decoration: underline;
}
#top span a {
  color: #fff;
  text-decoration: none;
}
#top span a:hover {
  text-decoration: underline;
}
#top .sym-uz a {
  padding: 5px;
}
#top .sym-uz a img {
  height: 24px;
}
#top .sym-uz a:first-child img {
  height: 15px;
}
#top .dropdown-toggle {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
}

.header {
  position: relative;
  left: 0;
  width: 100%;
  background: url(../img/qmii.jpg) no-repeat center -150px/cover;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header ul {
  position: absolute;
  z-index: 100;
}
.header ul li {
  display: inline-block;
}
.header ul li:hover {
  background-color: #222;
}
.header ul li:hover ul {
  display: block;
}
.header ul li ul {
  position: absolute;
  width: 200px;
  background-color: #222;
  display: none;
  padding: 0;
}
.header ul li ul li {
  display: block;
  color: #fff;
  padding: 0 15px;
  border-left: 3px solid #222;
}
.header ul li ul li:hover {
  background-color: #000;
  border-left-color: #fff;
}
.header a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}
.header img {
  width: 58px;
  height: 58px;
  margin-right: 15px;
  display: block;
  float: left;
}
.header p {
  color: #fff;
  font-weight: bold;
}
.header .carousel-inner img {
  width: 70%;
  height: 350px;
}
.header .carousel-inner .slide-caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  color: #fff;
  padding: 20px;
  background-color: #314573;
}
.header .carousel-control-next {
  right: 0;
  top: initial;
  bottom: 30px;
}
.header .carousel-control-prev {
  top: initial;
  left: initial;
  right: 50px;
  bottom: 30px;
}
.header .iact-serv {
  background-color: rgba(52, 62, 85, 0.5);
  color: #fff;
  padding: 0 20px;
}
.header .iact-serv a {
  color: #fff;
  text-decoration: none;
}
.header .iact-serv .vertual-reception {
  background: url(../img/envelope.svg) no-repeat 0 20px/50px;
  border-bottom: 2px solid #fff;
  padding: 20px 0 20px 60px;
  position: relative;
}
.header .iact-serv .vertual-reception a {
  text-decoration: underline;
  font-size: 1em;
}
.header .iact-serv .vertual-reception a i {
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .iact-serv .vertual-reception a:hover {
  text-decoration: none;
}
.header .iact-serv .vertual-reception a:hover i {
  display: flex;
}
.header .iact-serv .electron-address {
  border-bottom: 2px solid #fff;
  position: relative;
  text-align: center;
  padding: 5px 0;
}
.header .iact-serv .electron-address a {
  font-size: 1.3em;
}
.header .iact-serv .electron-address a i {
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .iact-serv .electron-address a:hover {
  text-decoration: none;
}
.header .iact-serv .electron-address a:hover i {
  display: flex;
}
.header .iact-serv .online-contract {
  text-align: center;
}
.header .iact-serv .online-contract a {
  font-size: 1.8em;
  font-weight: 500;
}

.middle {
  position: sticky;
  background-color: #ddd;
}
.middle ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.middle ul li {
  display: inline-block;
}
.middle ul li a {
  color: #333;
  display: block;
  padding: 10px;
  text-decoration: none;
}
.middle ul li a:hover {
  text-decoration: underline;
}

.under-middle .title-1 {
  margin-top: 30px;
}
.under-middle .title-1 h4 {
  width: 110px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}
.under-middle .title-1 h4::after {
  content: "";
  width: 70%;
  position: absolute;
  left: 0;
  top: 37px;
  border-bottom: 3px solid #000;
}
.under-middle .fakultet .title-2 {
  width: 262.5px;
  background-color: #343e55;
  color: #fff;
  padding: 5px 15px;
  font-size: 20px;
}
.under-middle .fakultet ul {
  width: 262.5px;
  background-color: #d2d2d2;
  padding: 10px 0;
}
.under-middle .fakultet ul li {
  list-style: none;
  padding: 5px 0;
}
.under-middle .fakultet ul li:hover {
  background-color: #999;
  border-left: 3px solid #343e55;
  font-weight: bold z;
}
.under-middle .fakultet ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 6px 6px 6px 20px;
}

.message {
  background-color: dodgerblue;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 8px 20px 8px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.message::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 12px;
  bottom: 15px;
  border: 1px solid #fff;
}

.ichi {
  width: 380px;
  height: 610px;
  border: 1px solid #000;
  position: fixed;
  border-radius: 10px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  padding: 15px 15px 15px 25px;
  font-size: 16px;
  display: none;
  z-index: 1000;
  overflow: hidden;
}
.ichi .send_message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 15px;
}
.ichi .send_message .text_field {
  width: 100%;
  border: none;
  outline: none;
}
.ichi::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 10px;
  background: #1f89f8;
}
.ichi .sss {
  font-size: 1.2em;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}
.ichi .rasm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ichi .rasm img {
  width: 100px;
  height: 100px;
  margin-top: 30%;
}
.ichi p {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}
.ichi .p2 {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
}
.ichi .sending a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 13px;
  position: absolute;
  bottom: 60px;
  left: 125px;
}
.ichi .sending a:hover {
  color: dodgerblue;
}
.ichi .sending a i {
  font-size: 18px;
}

.struc-menu {
  padding: 60px 0;
  background-color: #efefef;
}
.struc-menu .title-4 {
  color: #282828;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 30px;
  margin-left: 30px;
}
.struc-menu .title-5 {
  color: #282828;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 30px;
  margin-left: 30px;
}
.struc-menu ul li {
  list-style: none;
  padding: 5px 0;
}
.struc-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.struc-menu ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #252932;
  padding: 50px 0;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin: 0 50px;
}
footer span {
  width: 40%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
}
footer .copyright {
  color: #fff;
  text-align: center;
}